{% extends "base.html" %}

{% block extrahead %} {% endblock %}

{% block title %}{% endblock %}

{% block 'content' %}

    <h2>Details mticket #{{item.ticket}}</h2>

    <div class="row ">
        <div class="add-button"> <a href="{% url 'mtickets_apps:list.mtickets'  %}" class="btn btn-secondary btn-sm app"> <span class="oi oi-arrow-left"></span> Revenir a la liste des MTicket </a> </div>
    </div>

    <div class="row add-button">
        
        <div class="col-sm-12 col-md-6">
            <u class="test">MTicket :</u> {{item.ticket}} </br>
            <u class="test">CNI:</u> {{item.cni}} </br>
            <u class="test">Noms:</u> {{item.name}} </br>
            <u class="test">Partenaire:</u> {{item.partner}} </br>
            <u class="test">Observations :</u> </br>{{item.observation}}</br></br>
        </div>

        <div class="col-sm-12 col-md-6">

            <div>
                <h5>Ce MTicket a ete modifie {{history|length}} fois :</h5>
            </div>

            <div>
                <ul class="list-group">
                
                {% for h in history %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ h.history_date }} | {{ h.history_user }} | {{ h.history_type }} 
                    </li>
                {% endfor %}

                </ul>
            </div>
        
        </div>

    </div>

    <div class="row ">
    
    </div>

    <div class="row">

    </div>

{% endblock %}

{% block foot-javascript %} {% endblock %}





