{% extends "base_.html" %}
{% load crispy_forms_tags %}
{% load group_filter %}
{% block extrahead %} {{ factures.form.media }}  {% endblock %}

{% block title %}{% endblock %}

{% block 'content' %}

            <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="get">
                    
                        {% csrf_token %}
                            
                        <div class="row" >

                            <div class="col-md-6">
                                {{ factures.form.date_lte|as_crispy_field }}
                            </div>

                            <div class="col-md-6">
                                {{ factures.form.date_gte|as_crispy_field }}
                            </div>

                        </div>

                        <div class="row" >

                            <div class="col-md-6">
                                {{ factures.form.categorie__categories|as_crispy_field }}
                            </div>

                            <div class="col-md-6">
                                {{ factures.form.cars__immatriculation|as_crispy_field }}
                            </div>
                        
                        </div>

                        <div class="row" >

                            <div class="col-md-6">
                                {{ factures.form.libelle|as_crispy_field }}
                            </div>

                            <div class="col-md-6">
                                {{ factures.form.caissier|as_crispy_field }}
                            </div>
                        
                        </div>

                        <button type="submit">Lancer la recherche</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
        
        <div class="outer-w3-agile mt-3">
            <div class="row">
                <div class="add-button"> <a href="{% url 'archivages_app:add.facture'  %}" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle"></i> Ajouter</a></div>
                {% if request.user|has_group:"manager" %}
                    
                {% endif %}
            </div>
        </div>


        <div class="outer-w3-agile mt-3">
                <h4 class="tittle-w3-agileits mb-4">{{factures.qs|length}} resultat(s) trouve(s), {{montant}}FCFA en caisse</h4>
                    {% if factures %} {# Si il existe des plaintes afficher le tableau sinon ne rien afficher #}
                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>DateHeure </th>
                                    <th>Libelle</th>
                                    <th>Immatriculation</th>
                                    <th>Montant</th>
                                    <th>Caissier</th>
                                    <th >Ville</th> 
                                </tr>
                            </thead>
                                
                            <tbody>
                                
                                {% for facture in factures.qs %} {# Lire les valeurs trouvees #}
                                    <tr>
                                        <th scope="row">
                                            <a href="{% url 'archivages_app:update.facture' facture.id %}" >{{ forloop.revcounter }} {# Comptage auto. #} </a>    
                                        </th> 
                                        <td>{{facture.date}}</td>
                                        <td>{{facture.libelle}}</td>
                                        <td>{{facture.cars}}</td>
                                        <td>{{facture.montant}}</td> 
                                        <td>{{facture.caissier}}</td>
                                        <td>{{facture.ville}}</td>
                                    </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    
                    </div>
                {% endif %}
        </div>


{% endblock %}

{% block foot-javascript %} 

  

{% endblock %}

