{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extrahead %} {% endblock %}


{% block title %} {% endblock %}

{% block 'content' %}

    <div class="alert alert-danger" role="alert">

        <h1>Désolé {{ user.username }}, impossible d'afficher le contenu de la page </h1>
        <p class="lead">Si vous pensez que il s'agit d'une erreur <br> contacter le service informatique à l'adresse finexs-informatique@finexsvoyages.net.</p>
        <a class="lead" href="{% url 'colis_apps:homeredirect' %}">Revenir à l'accueil</a>

    </div>

{% endblock %}

{% block foot-javascript %} {% endblock %}

