
{% block extrahead %} {% endblock %}

{% block title %}{% endblock %}

{% block 'content' %}

    <div class="row add-button">
        
        <div class="col-md-4">
            <u>FINEXS EXPRESS COURRIER</u></br></br>
            <u class="test">Date :</u> {{item.dateheure}} </br>
            <u class="test">Colis ID :</u> {{item.numero_colis}} </br>
            <u class="test">Nom. exp. :</u> {{item.nom_exp}} </br>
            <u class="test">Nom. dest. :</u> {{item.nom_dest}} </br>
            <u class="test">Valeur declarée:</u> {{item.valeur_declaree}} </br>
            <u class="test">Montant :</u> {{item.montant}} </br>
            <u class="test">Libellé :</u> {{item.libelle}} </br></br>
            <i>En cas de perte ou d'avarie d'un paquet</br>
                ou coli expedié, FINEXS Express Courrier</br>
                s'engage à dedommager à hauteur de </br> 
                50% de la valeur de l'objet si cette </br> 
                valeur a ete declarée et identifiée au</br>
                moment du dépot.</br></i>
            <u class="test">Visa client ( j'ai lu et accepte les </br>
               clauses de FINEXS Express Courrier ) </u> 

        </div>

    </div>

{% endblock %}

{% block foot-javascript %} 
    <script>
        window.onload = function() {
            
            window.print() ;
            
            }
        window.onafterprint = function() {

            window.location = "{% url 'colis_apps:list.coli'  %}"

        }
    </script>
{% endblock %}





